.category {
  background-color: #f9f9f9;
}

.category__title-wrapper {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 283px;

  @media (min-width: $width-tablet) {
    min-height: 570px;
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  @media (min-width: $width-desktop) {
    min-height: 700px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }
}

.category__title {
  @include text(27px, 30px);
  font-family: $font;
  font-weight: 700;
  color: $black;
  text-align: center;
  margin-top: 0;
  padding-top: 70px;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
  }
}

.category__list {
  @include no-list;
}

.category__item--interior {
  background-color: $seafoam;
}

.category__item--toy {
  background-color: $grenny;
}

.category__item-link {
  color: $white;
  text-decoration: none;
  display: flex;
}

.category__item-title {
  @include text(19px, 24px);
  font-weight: 700;
  color: $white;

  @media (min-width: $width-tablet) {
    @include text(20px, 30px);
  }
}

.category__item-icon {
  opacity: 50%;
}
