.category__title {
  @include text(27px, 30px);
  font-family: $font;
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
  }
}

.category__list {
  @include no-list;
}

.category__item--interior {
  background-color: $seafoam;
}

.category__item--toy {
  background-color: $grenny;
}

.category__item-link {
  color: $white;
  text-decoration: none;
}

.category__item-title {
  @include text(19px, 24px);
  font-weight: 700;
  color: $white;

  @media (min-width: $width-tablet) {
    @include text(20px, 30px);
  }
}
