.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 9px;

  @media (min-width: $width-tablet) {
    padding-top: 0;
  }
}

.copyright__link-text {
  @include text(19px, 18px);
  font-weight: 700;
  color: $black;
  margin-right: 22px;
  width: 128px;

  @media (min-width: $width-desktop) {
    margin-right: 16px;
  }
}

.copyright__link-icon {
  display: block;
}
