.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.copyright__link-text {
  @include text(19px, 18px);
  font-weight: 700;
  color: $black;
  margin-right: 20px;
}

.copyright__link-icon {
  display: block;
}
