.form {
  margin-bottom: 55px;

  @media (min-width: $width-tablet) {
    margin-bottom: 50px;
  }
}

.form__wrapper--radio {
  @media (min-width: $width-tablet) {
    display: flex;
    margin-bottom: 32px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 115px;
  }
}

.form__wrapper--color {
  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    padding-left: 110px;
  }
}

.form__wrapper--name {
  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    padding-left: 110px;
    padding-right: 100px;
  }
}

.form__wrapper--contacts {
  @media (min-width: $width-desktop) {
    padding-left: 112px;
    padding-right: 225px;
  }
}

.form__wrapper--textarea {
  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    padding-left: 112px;
    padding-right: 225px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--grey {
  @media (min-width: $width-tablet) {
    background-color: $border-gray;
  }
}

.form__fieldset--color {
  @media (min-width: $width-tablet) {
    padding-top: 48px;
    padding-bottom: 28px;
  }
}

.form__fieldset--name {
  @media (min-width: $width-tablet) {
    padding-top: 38px;
    padding-bottom: 21px;
  }
}

.form__fieldset--contacts {
  @media (min-width: $width-tablet) {
    padding-top: 50px;
    padding-bottom: 34px;
  }
}

.form__fieldset--textarea {
  @media (min-width: $width-tablet) {
    padding-top: 50px;
    padding-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 49px;
  }
}

.form__legend {
  @include text(17px, 16px);
  font-weight: 700;
  color: $seafoam;
  text-transform: uppercase;
  margin-bottom: 0;

  @media (max-width: $width-mobile-only) {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 25px;
      flex-grow: 1;
      height: 1px;
      background-color: $seafoam;
    }
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 25%;
    padding-right: 15px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    width: 11%;
  }
}

.form__legend--radio {
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    padding-top: 25px;
  }
}

.form__legend--color {
  margin-top: 12px;
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    margin-top: 20px;
  }

  @media (min-width: $width-desktop) {
    width: 11%;
  }
}

.form__legend--name {
  margin-top: 12px;
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-top: 30px;
  }

  @media (min-width: $width-desktop) {
    width: 12%;
  }
}

.form__inner--color {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
  }

  @media (min-width: $width-desktop) {
    width: 767px;
  }
}

.form__row--color {
  margin-bottom: 19px;

  @media (min-width: $width-tablet) {
    min-width: 240px;
    margin-bottom: 22px;
  }
}

.form__label {
  @include text(17px, 18px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(19px, 18px);
  }
}

.form__row--radio {
  min-height: 61px;

  @media (min-width: $width-tablet) {
    margin-bottom: 15px;
  }
}

.form__label--radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 12px 0 12px 63px;
  outline: none;

  @media (min-width: $width-tablet) {
    padding: 22px 0 22px 81px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $text;
    transition: 0.3s;

    @media (min-width: $width-tablet) {
      top: 7px;
      width: 52px;
      height: 53px;
    }

    @media (min-width: $width-desktop) {
      left: 3px;
    }
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 15px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $seafoam-two;
    transition: 0.3s;

    @media (min-width: $width-tablet) {
      top: 23px;
      left: 15px;
      width: 22px;
      height: 22px;
    }

    @media (min-width: $width-desktop) {
      left: 18px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $seafoam-two;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
      border: 2px solid $text;
    }

    &::after {
      opacity: 1;
    }
  }
}

.form__input--radio:checked + .form__label--radio::after {
  display: block;
}

.form__input--radio:disabled + .form__label--radio {
  opacity: 0.3;
}

.form__input--radio:focus + .form__label--radio::before {
  outline: dotted 1px $seafoam;
  outline-offset: 2px;
}

.form__label--checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 14px 0 10px 63px;
  outline: none;

  @media (min-width: $width-tablet) {
    padding: 18px 0 18px 81px;
  }

  @media (min-width: $width-desktop) {
    padding: 17px 0 18px 86px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $text;
    transition: 0.3s;

    @media (min-width: $width-tablet) {
      width: 54px;
      height: 52px;
    }

    @media (min-width: $width-desktop) {
      top: 1px;
      left: 6px;
    }
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 14px;
    left: 9px;
    width: 23px;
    height: 11px;
    border: 2px solid $text;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    transition: 0.3s;

    @media (min-width: $width-tablet) {
      left: 12px;
      width: 30px;
      height: 17px;
    }

    @media (min-width: $width-desktop) {
      top: 13px;
      left: 19px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $seafoam-two;
    }
  }

  &:active {
    &::before {
      border: 2px solid $text;
      opacity: 0.3;
    }
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  display: block;
}

.form__input--checkbox:disabled + .form__label--checkbox {
  opacity: 0.3;
}

.form__input--checkbox:focus + .form__label--checkbox::before {
  outline: dotted 1px $seafoam;
  outline-offset: 2px;
}

.form__input {
  @include text(17px, 18px);
  font-family: $font;
  font-weight: 400;
  color: $text;

  @media (min-width: $width-tablet) {
    @include text(19px, 18px);
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.form__inner--name {
  padding-top: 11px;
  padding-bottom: 8px;

  @media (min-width: $width-tablet) {
    width: 75%;
  }
}

.form__row--name {
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
}

.form__input--name {
  border: 0;
  border-bottom: 2px solid $black;
  width: 100%;
  height: 52px;
  padding: 12px 17px 12px 0;
  outline: none;
  transition: 0.3s;

  @media (min-width: $width-tablet) {
    padding: 12px 17px;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $seafoam-two;
  }
}

.form__label--name {
  display: block;
  margin-right: 20px;

  @media (min-width: $width-tablet) {
    margin-right: 25px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 28px;
  }
}

.form__inner--contacts {
  padding-bottom: 33px;

  @media (min-width: $width-tablet) {
    padding-bottom: 15px;
  }
}

.form__row--contacts {
  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
  }
}

.form__row--tel {
  position: relative;
  padding-bottom: 32px;

  @media (min-width: $width-tablet) {
    padding-bottom: 23px;
  }
}

.form__icon--tel {
  position: absolute;
  top: 34px;
  right: 7px;
  opacity: 0.2;

  @media (min-width: $width-tablet) {
    top: 8px;
    right: 26px;
  }

  @media (min-width: $width-desktop) {
    right: 7px;
  }
}

.form__row--mail {
  position: relative;
}

.form__icon--mail {
  position: absolute;
  top: 34px;
  right: 4px;
  opacity: 0.2;

  @media (min-width: $width-tablet) {
    top: 10px;
    right: 21px;
  }

  @media (min-width: $width-desktop) {
    right: 4px;
  }
}

.form__label--contacts {
  @include text(17px, 16px);
  color: $seafoam;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding-bottom: 7px;

  @media (max-width: $width-mobile-only) {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 25px;
      flex-grow: 1;
      height: 1px;
      background-color: $seafoam;
    }
  }

  @media (min-width: $width-tablet) {
    width: 31%;
    margin-right: 20px;
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    margin-right: 25px;
    padding-bottom: 0;
  }
}

.form__input--contacts {
  @include text(19px, 18px);
  border: 0;
  border-bottom: 2px solid $black;
  background-color: inherit;
  width: 100%;
  height: 52px;
  padding: 12px 40px 12px 0;
  outline: none;
  transition: 0.3s;

  @media (min-width: $width-tablet) {
    padding: 12px 60px 12px 19px;
    background-color: $border-gray;
  }

  @media (min-width: $width-desktop) {
    padding: 12px 42px 12px 19px;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $seafoam-two;
  }

  &:hover + svg,
  &:focus + svg {
    fill: $seafoam-two;
    opacity: 1;
  }
}

.form__required-fields {
  @include text(14px, 16px);
  color: $text;
  margin-top: 7px;
  margin-bottom: 31px;

  @media (min-width: $width-tablet) {
    @include text(17px, 30px);
    order: 2;
    margin: 0;
    width: 320px;
    text-align: right;
  }
}

.form__legend--textarea {
  padding-bottom: 25px;

  @media (min-width: $width-tablet) {
    width: 33%;
    margin-top: 18px;
  }

  @media (min-width: $width-desktop) {
    width: 112px;
    margin-top: 18px;
  }
}

.form__input--textarea {
  width: 100%;
  border: 2px solid $black;
  height: 142px;
  padding: 15px;
  transition: 0.3s;
  outline: none;
  resize: none;

  @media (min-width: $width-desktop) {
    width: 700px;
  }

  &:hover,
  &:focus {
    border: 2px solid $seafoam-two;
  }
}

.form__wrapper-button {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__button {
  @media (min-width: $width-tablet) {
    width: 230px;
    display: block;
    order: 1;
  }
}
