.form {
  margin-bottom: 55px;
}

.form__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    // flex-wrap: wrap;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--grey {
  @media (min-width: $width-tablet) {
    background-color: $border-gray;
  }
}

.form__legend {
  @include text(17px, 16px);
  font-weight: 700;
  color: $seafoam;
  text-transform: uppercase;
  margin-bottom: 0;

  @media (max-width: $width-mobile-only) {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 25px;
      flex-grow: 1;
      height: 1px;
      background-color: $seafoam;
    }
  }

  @media (min-width: $width-tablet) {
    // align-items: flex-start;
    margin: 0;
    width: 25%;
  }
}

.form__inner--color {
  margin-bottom: 37px;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
  }
}

.form__row--color {
  margin-bottom: 19px;

  @media (min-width: $width-tablet) {
    min-width: 240px;
  }
}

.form__label {
  @include text(17px, 18px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(19px, 18px);
  }
}

.form__inner--radio {
  margin-bottom: 37px;
}

.form__input--radio {
  appearance: none;
  opacity: 0;
}

.form__label--radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 4px;
  padding-left: 63px;
  margin-bottom: -10px;

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $text;

    @media (min-width: $width-tablet) {
      width: 52px;
      height: 53px;
    }
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 6px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $seafoam-two;

    @media (min-width: $width-tablet) {
      top: 10px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }
}

.form__input--radio:checked ~ .form__label--radio::after {
  display: block;
}

.form__input--radio:disabled ~ .form__label--radio {
  opacity: 0.3;
}

.form__input--checkbox {
  appearance: none;
  opacity: 0;
}

.form__label--checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding-top: 4px;
  padding-left: 63px;
  margin-bottom: -10px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $text;

    @media (min-width: $width-tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 6px;
    left: 9px;
    width: 23px;
    height: 11px;
    border: 2px solid $seafoam-two;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;

    @media (min-width: $width-tablet) {
      left: 12px;
      width: 33px;
      height: 17px;
    }
  }
}

.form__input--checkbox:checked ~ .form__label--checkbox::after {
  display: block;
}

.form__input--checkbox:disabled ~ .form__label--checkbox {
  opacity: 0.3;
}

.form__inner--name {
  padding-top: 11px;
  padding-bottom: 33px;

  @media (min-width: $width-tablet) {
    width: 75%;
  }
}

.form__row--name {
  padding-top: 20px;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.form__input--name {
  border: 0;
  border-bottom: 2px solid $black;
  width: 100%;
  height: 52px;
}

.form__label--name {
  display: block;
  margin-right: 20px;
}

.form__inner--contacts {
  padding-bottom: 15px;
}

.form__row--contacts {
  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.form__row--tel {
  position: relative;
  padding-bottom: 32px;
}

.form__icon--tel {
  position: absolute;
  top: 34px;
  right: 7px;
}

.form__row--mail {
  position: relative;
}

.form__icon--mail {
  position: absolute;
  top: 34px;
  right: 4px;
}

.form__label--contacts {
  @include text(17px, 16px);
  color: $seafoam;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding-bottom: 7px;

  @media (max-width: $width-mobile-only) {
    display: flex;
    align-items: center;

    &::after {
      content: "";
      margin-left: 25px;
      flex-grow: 1;
      height: 1px;
      background-color: $seafoam;
    }
  }

  @media (min-width: $width-tablet) {
    width: 25%;
  }
}

.form__input--contacts {
  border: 0;
  border-bottom: 2px solid $black;
  background-color: inherit;
  width: 100%;
  height: 52px;
  padding-right: 40px;
}

.form__input::placeholder {
  @include text(17px, 18px);
  color: $placeholder;

  @media (min-width: $width-tablet) {
    @include text(19px, 18px);
  }
}

.form__required-fields {
  @include text(14px, 16px);
  color: $text;
  margin-top: 7px;
  margin-bottom: 31px;

  @media (min-width: $width-tablet) {
    @include text(17px, 30px);
    order: 2;
  }
}

.form__legend--textarea {
  padding-bottom: 25px;
}

.form__input--textarea {
  width: 100%;
  border: 2px solid $black;
  min-height: 142px;
  padding: 15px;
}

.form__wrapper-button {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__button {
  @media (min-width: $width-tablet) {
    width: 230px;
    display: block;
    order: 1;
  }
}
