.header-block__wrapper {
  position: relative;
  background-color: $bc-grey;
  padding: 53px 30px 58px 30px;
  margin-bottom: 30px;

  @media (min-width: $width-tablet) {
    padding: 24px 30px 58px 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $width-desktop) {
    padding: 34px 30px 84px 30px;
    margin-bottom: 112px;
  }

  &::after {
    @media (min-width: $width-tablet) {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      height: 17px;
      background-size: 768px 24px;
      // background-position-x: -20px;
    }

    @media (min-width: $width-desktop) {
      height: 34px;
      background-size: 1150px 34px;
    }
  }
}

.header-block__title {
  @include text(27px, 30px);
  font-weight: 700;
  color: $black;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
    margin-top: 0;
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
  }
}
