.main-nav {
  position: relative;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
  }
}

.main-nav__wrapper-logo {
  position: relative;
  padding: 22px 30px 21px;

  @media (max-width: $width-mobile-only) {
    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $width-tablet) {
    order: 1;
    flex-grow: 1;
  }

  @media (min-width: $width-desktop) {
    order: 2;
    padding: 9px 30px 0 30px;
  }
}

.main-nav__list {
  @include no-list;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__logo-img {
  display: block;
  transition: 0.3s;

  @media (max-width: $width-mobile-only) {
    margin: 0 auto;
  }

  @media (min-width: $width-tablet) {
    width: 112px;
    height: 46px;
    margin-left: 20px;
  }

  @media (min-width: $width-desktop) {
    width: 149px;
    height: 72px;
    margin-left: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__list--top,
.main-nav--opened .main-nav__list--user {
  @media (max-width: $width-mobile-only) {
    display: block;
  }
}

.main-nav--closed .main-nav__list--top,
.main-nav--closed .main-nav__list--user {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 15px;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  @media (max-width: $width-mobile-only) {
    padding-left: 30px;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav__text {
  @media (max-width: $width-mobile-only) {
    display: none;
  }

  @media (min-width: $width-tablet) {
    display: block;
    text-align: right;
    order: 4;
    width: 48%;
    padding: 13px 50px;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    order: 6;
    width: 500px;
    margin-left: auto;
    padding: 12px 50px 12px 50px;
  }
}
