.main-nav {
  position: relative;
}

.main-nav__wrapper-logo {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-gray;
  padding: 22px 30px 21px;
}

.main-nav__list {
  @include no-list;
}

.main-nav__logo-img {
  display: block;

  @media (max-width: $width-mobile-only) {
    margin: 0 auto;
  }

  @media (min-width: $width-tablet) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $width-desktop) {
    width: 149px;
    height: 72px;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__list {
  @media (max-width: $width-mobile-only) {
    display: block;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 11px;
  right: 5px;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  @media (max-width: $width-mobile-only) {
    padding-left: 30px;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav__text {
  display: none;
}
