.page-header {
  @media (min-width: $width-tablet) {
    background-image: linear-gradient(to bottom, $white 90px, $border-gray 90px, $border-gray 91px, $bc-grey 91px);
  }

  @media (min-width: $width-desktop) {
    background-image: linear-gradient(to bottom, $white 88px, $border-gray 88px, $border-gray 89px, $bc-grey 89px);
  }
}

.page-header--index {
  @media (min-width: $width-tablet) {
    background-image: linear-gradient(to bottom, $white 90px, $border-gray 90px, $border-gray 91px, #f9f9f9 91px);
  }

  @media (min-width: $width-desktop) {
    background-image: linear-gradient(to bottom, $white 88px, $border-gray 88px, $border-gray 89px, #f9f9f9 89px);
  }
}
