.page-header {
  @media (min-width: $width-tablet) {
    background-image: linear-gradient(to bottom, $white 100px, $border-gray 100px, $border-gray 101px, $bc-grey 101px);
  }
}

.page-header--index {
  @media (min-width: $width-tablet) {
    background-image: linear-gradient(to bottom, $white 90px, $border-gray 90px, $border-gray 91px, #f9f9f9 91px);
  }

  @media (min-width: $width-desktop) {
    background-image: linear-gradient(to bottom, $white 101px, $border-gray 101px, $border-gray 102px, #f9f9f9 102px);
  }
}
