.page-footer {
  background-color: $bc-grey;
}

.page-footer__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-link {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}
