.page-footer {
  background-color: $bc-grey;
  padding-top: 20px;
  padding-bottom: 15px;

  @media (min-width: $width-tablet) {
    padding-top: 45px;
    padding-bottom: 42px;
  }
}

.page-footer__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-link {
  @media (max-width: $width-mobile-only) {
    display: none;
  }

  @media (min-width: $width-tablet) {
    margin-right: 83px;
  }
}
