.page-footer__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-link {
  @media (max-width: $width-mobile-only) {
    display: none;
  }
}
