.product {
  margin-bottom: 31px;
  border: 1px solid $border-gray;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
  }
}

.product__image {
  width: 100%;
  display: block;

  @media (min-width: $width-tablet) {
    min-height: 334px;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
    height: 462px;
  }
}

.product__wrapper-description {
  padding: 0 25px 0 28px;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 195px;
    height: calc(100% - 462px);
    padding: 25px 25px 8px 25px;
  }
}

.product__inner-description {
  margin-bottom: 20px;
}

.product__title-link {
  text-decoration: none;
}

.product__title {
  @include text(17px, 24px);
  font-weight: 700;
  color: $black;
  margin: 0;
  margin-top: 26px;

  @media (min-width: $width-tablet) {
    @include text(20px, 24px);
  }

  @media (min-width: $width-desktop) {
    margin-top: 0;
  }
}

.product__characteristics {
  @include text(13px, 30px);
  color: $text;
  margin-top: 5px;

  @media (min-width: $width-tablet) {
    @include text(15px, 30px);
    flex-grow: 1;
    margin-top: 7px;
  }

  @media (min-width: $width-tablet) {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.product__wrapper-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $bc-grey;
  align-items: center;
  padding: 21px 0 27px;

  @media (min-width: $width-tablet) {
    margin-top: auto;
    padding: 23px 4px 26px 4px;
  }

  @media (min-width: $width-desktop) {
    margin-top: auto;
    padding: 16px 5px 17px 0;
  }
}

.product__price {
  @include text(15px, 24px);
  font-weight: 700;
  color: $black;
  margin: 0;

  @media (min-width: $width-tablet) {
    @include text(17px, 24px);
  }
}

.production__button {
  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    margin: 0 auto;
  }
}

.product__button-icon {
  display: block;
  opacity: 0.2;
}
