.production {
  position: relative;
  padding-top: 9px;
  margin-bottom: 58px;

  @media (min-width: $width-tablet) {
    padding-top: 0;
    margin-bottom: 63px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  border: 1px solid $border-gray;
  padding-bottom: 32px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    min-height: 455px;
    align-items: flex-end;
  }
}

.production__title {
  position: relative;

  @include text(17px, 24px);
  font-weight: 700;
  color: $black;
  padding: 0 30px 0 89px;
  margin-bottom: 23px;

  @media (min-width: $width-tablet) {
    @include text(20px, 24px);
    order: 2;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0 30px 0 107px;
  }

  @media (min-width: $width-desktop) {
    width: 369px;
    padding: 88px 58px 0 80px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-video.svg");
    width: 32px;
    height: 28px;
    top: 6px;
    left: 33px;

    @media (min-width: $width-tablet) {
      top: -6px;
      left: 40px;
    }

    @media (min-width: $width-desktop) {
      top: 33px;
      left: 82px;
    }
  }
}

.production__video {
  position: relative;
  margin-bottom: 28px;

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 0;
    left: 50px;
    margin-bottom: 0;
  }
}

.production__image {
  display: block;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $width-tablet) {
    width: 668px;
    height: 455px;
    order: 1;
  }

  @media (min-width: $width-desktop) {
    width: 682px;
    height: 455px;
  }
}

.production__button-play {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 55px);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.production__wrapper-text-button {
  padding: 0 34px;

  @media (min-width: $width-tablet) {
    order: 3;
    padding: 0 40px;
  }

  @media (min-width: $width-desktop) {
    width: 370px;
    padding: 0 58px 0 80px;
  }
}

.production__text {
  @include text(13px, 24px);
  color: $text;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    @include text(15px, 30px);
    // order: 3;
    margin-top: 0;
    margin-bottom: 35px;
  }

  @media (min-width: $width-desktop) {
    // width: 280px;
    margin-bottom: 46px;
  }
}

.production__button {
  @media (min-width: $width-tablet) {
    // order: 4;
    margin: none;
  }
}
