.product {
  margin-bottom: 30px;
  border: 1px solid $border-gray;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
  }
}

.product__image {
  width: 100%;
  display: block;

  @media (min-width: $width-tablet) {
    min-height: 334px;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
    height: 462px;
  }
}

.product__wrapper-description {
  padding: 0 25px;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    padding-top: 25px;
    min-height: 197px;
    padding-bottom: 9px;
  }
}

.product__title-link {
  text-decoration: none;
}

.product__title {
  @include text(17px, 24px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(20px, 24px);
  }
}

.product__characteristics {
  @include text(13px, 30px);
  color: $text;

  @media (min-width: $width-tablet) {
    @include text(15px, 30px);
    flex-grow: 1;
  }
}

.product__wrapper-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $bc-grey;
  align-items: center;
  padding: 22px 4px 15px;

  @media (min-width: $width-tablet) {
    padding: 22px 4px 15px;
    margin-top: auto;
  }

  @media (min-width: $width-desktop) {
    margin-top: auto;
  }
}

.product__price {
  @include text(15px, 24px);
  font-weight: 700;
  color: $black;
  margin: 0;

  @media (min-width: $width-tablet) {
    @include text(17px, 24px);
  }
}

.production__button {
  @media (min-width: $width-tablet) and (max-width: $width-tablet-only) {
    margin: 0 auto;
  }
}

.product__button-icon {
  display: block;
  opacity: 0.2;
}
