.product__image {
  @media (min-width: $width-tablet) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
    height: 462px;
  }
}

.product__title-link {
  text-decoration: none;
}

.product__title {
  @include text(17px, 24px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(20px, 24px);
  }
}

.product__characteristics {
  @include text(13px, 30px);
  color: $text;

  @media (min-width: $width-tablet) {
    @include text(15px, 30px);
  }
}

.product__wrapper-price {
  display: flex;
  justify-content: space-between;
}

.product__price {
  @include text(15px, 24px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(17px, 24px);
  }
}
