.reviews {
  position: relative;

  @media (min-width: $width-tablet) {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $width-desktop) {
    min-height: 547px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
    // background-position-x: -8px;

    @media (min-width: $width-tablet) {
      height: 17px;
      background-size: 768px 17px;
      // background-position-x: -20px;
    }
  }
}

.reviews__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 150px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 150px;
  }
}

.reviews__title {
  @include text(25px, 30px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
    order: 1;
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: $width-tablet) {
    order: 3;
  }
}

.reviews__text {
  @include text(15px, 30px);
  color: $text;

  @media (min-width: $width-tablet) {
    @include text(17px, 30px);
  }
}

.reviews__author-arrow {
  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.reviews__author-name {
  @include text(17px, 24px);
  color: $black;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    @include text(18px, 24px);
  }

  @media (min-width: $width-desktop) {
    @include text(18px, 24px);
  }
}

.reviews__author-link {
  @include text(17px, 30px);
  display: block;
  color: $text;
  text-decoration: none;
}

.reviews__arrow-wrapper {
  display: flex;

  @media (min-width: $width-tablet) {
    order: 4;
    position: absolute;
    right: 30px;
    width: 175px;
    bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    bottom: 220px;
  }
}

.reviews__arrow {
  display: block;
  background-color: inherit;
  border: 1px solid $border-gray;
  width: 50%;
  height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.reviews__button {
  @media (min-width: $width-tablet) {
    order: 2;
    width: 175px;
    margin-left: auto;
  }
}
