.reviews {
  position: relative;

  @media (min-width: $width-tablet) {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    min-height: 495px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $width-desktop) {
    background-position-x: 50px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -50px;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
    background-position-x: -8px;

    @media (min-width: $width-tablet) {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
    }

    @media (min-width: $width-desktop) {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -25px;
    }
  }
}

.reviews__wrapper {
  margin-bottom: 85px;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-bottom: 0;
    padding-bottom: 49px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 174px;
    padding-top: 74px;
  }
}

.reviews__title {
  @include text(25px, 30px);
  font-weight: 700;
  color: $black;
  margin-bottom: 24px;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
    order: 1;
    margin: 0;
    max-width: 50%;
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
  }
}

.reviews__item {
  margin: 0 0 30px 0;

  @media (min-width: $width-tablet) {
    order: 3;
  }
}

.reviews__text {
  @include text(15px, 30px);
  color: $text;
  margin-bottom: 24px;

  @media (min-width: $width-tablet) {
    @include text(17px, 30px);
    margin-top: 46px;
    margin-bottom: 56px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 46px;
    margin-bottom: 36px;
    width: 790px;
  }
}

.reviews__author-arrow {
  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.reviews__author {
  font-style: normal;
  display: block;

  @media (min-width: $width-tablet) {
    width: 50%;
  }
}

.reviews__author-name {
  @include text(17px, 24px);
  color: $black;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    @include text(18px, 24px);
  }

  @media (min-width: $width-desktop) {
    @include text(17px, 24px);
  }
}

.reviews__author-link {
  @include text(17px, 30px);
  display: block;
  color: $text;
  text-decoration: none;
}

.reviews__arrow-wrapper {
  display: flex;
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    order: 4;
    position: absolute;
    right: 52px;
    width: 175px;
    bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    bottom: 94px;
  }
}

.reviews__arrow {
  display: block;
  background-color: $white;
  border: 1px solid $border-gray;
  width: 50%;
  height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.reviews__button {
  @media (min-width: $width-tablet) {
    order: 2;
    width: 175px;
    margin-left: auto;
  }

  @media (min-width: $width-desktop) {
    margin-top: 6px;
  }
}
