.site-list {
  background-color: transparent;
}

.site-list--down {
  @media (max-width: $width-tablet-only) {
    display: none;
  }

  @media (min-width: $width-desktop) {
    order: 5;
    padding: 2px 0 20px 50px;
    padding-left: 24px;
    max-width: 40%;
  }
}

.site-list--top {
  @media (min-width: $width-tablet) {
    order: 3;
    padding: 0 0 20px 50px;
    width: 52%;
  }

  @media (min-width: $width-desktop) {
    order: 1;
    width: 470px;
    padding: 0;
    padding-left: 14px;
  }
}

.site-list__item {
  @include text(17px, 24px);
  font-family: $font;
  font-weight: 700;

  @media (min-width: $width-desktop) {
    max-width: 227px;
  }
}

.site-list__item--top {
  @media (min-width: $width-tablet) {
    @include text(15px, 24px);
    background-color: transparent;
    margin-bottom: 10px;
  }

  @media (min-width: $width-desktop) {
    @include text(17px, 24px);
    // margin-right: 34px;
    margin-bottom: 0;
  }
}

.site-list__item--top:first-child {
  @media (min-width: $width-desktop) {
    border-right: 1px solid $border-gray;
  }
}

// .site-list__item--top:not(:last-child) {
//   @media (min-width: $width-desktop) {
//     margin-right: 34px;
//   }
// }

// .site-list__item--down:not(:last-child) {
//   @media (min-width: $width-desktop) {
//     margin-right: 26px;
//   }
// }

.site-list__item--down {
  @media (min-width: $width-desktop) {
    @include text(15px, 24px);
  }
}

.site-list__item-link {
  display: block;
  color: $black;
  text-decoration: none;

  @media (max-width: $width-mobile-only) {
    display: block;
    padding: 27px 30px 27px 74px;
    border-bottom: 1px solid $border-gray;
  }

  @media (min-width: $width-tablet) {
    padding: 16px 35px 16px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 14px 36px 14px 26px;
    // padding-left: 35px;
  }
}

.site-list__item-link--top {
  display: block;

  @media (min-width: $width-desktop) {
    padding: 32px 36px 32px 35px;
    // padding-left: 35px;
  }
}
