.social__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-gray;
  padding-bottom: 16px;

  @media (min-width: $width-tablet) {
    padding-bottom: 0;
    border-bottom: none;
    width: 300px;
  }
}

.social__item {
  display: block;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  margin: 3px 12px 0 8px;
  transition: 0.3s;

  svg {
    vertical-align: middle;
  }

  @media (min-width: $width-tablet) {
    margin: 12px 12px 0 7px;
  }

  &:hover,
  &:focus {
    fill: $grenny-hvr;
  }

  &:active {
    opacity: 0.3;
    fill: $grenny-hvr;
  }
}
