.social__list {
  @include no-list;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-gray;
}

.social__item {
  display: block;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  margin: 0 8px 0 8px;

  svg {
    vertical-align: middle;
  }
}
