.user-list {
  @media (min-width: $width-tablet) {
    order: 2;
  }
}

.user-list__item {
  @include text(17px, 24px);
  font-family: $font;
  font-weight: 700;
}

.user-list__item-link {
  color: $black;
  text-decoration: none;
  position: relative;

  @media (max-width: $width-mobile-only) {
    display: block;
    padding: 27px 30px 27px 74px;
    border-bottom: 1px solid $border-gray;
  }
}

.user-list__item-link--search {
  @media (min-width: $width-tablet) {
    padding: 44px 40px;
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;
  }
}

.user-list__item-link--card {
  @media (min-width: $width-tablet) {
    padding: 30px 50px 30px 85px;
  }
}

.user-list__item-text--search {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.user-list__item-icon {
  opacity: 0.2;

  @media (max-width: $width-mobile-only) {
    position: absolute;
    top: 40%;
    left: 30px;
  }
}
