.user-list__item {
  @include text(17px, 24px);
  font-family: $font;
  font-weight: 700;
}

.user-list__item-link {
  color: $black;
  text-decoration: none;

  @media (max-width: $width-mobile-only) {
    display: block;
    padding: 27px 30px 27px 74px;
    border-bottom: 1px solid $border-gray;
  }
}
