.user-list {
  @media (min-width: $width-tablet) {
    order: 2;
  }
}

.user-list__item {
  @include text(17px, 24px);
  font-family: $font;
  font-weight: 700;
}

.user-list__item-link {
  display: block;
  color: $black;
  text-decoration: none;
  position: relative;
  transition: 0.3s;

  @media (max-width: $width-mobile-only) {
    // display: block;
    padding: 27px 30px 27px 74px;
    border-bottom: 1px solid $border-gray;
  }

  &:hover,
  &:focus {
    opacity: 0.6;

    svg {
      fill: $seafoam-two;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__item-link--search {
  @media (min-width: $width-tablet) {
    padding: 33px 31px;
    border-left: 1px solid $border-gray;
    border-right: 1px solid $border-gray;
  }
}

.user-list__item-link--card {
  @media (min-width: $width-tablet) {
    padding: 30px 50px 30px 85px;
    width: 318px;
  }
}

.user-list__item-text--search {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.user-list__item-icon {
  opacity: 0.2;

  @media (max-width: $width-mobile-only) {
    position: absolute;
    top: 40%;
    left: 30px;
  }
}

.user-list__item-icon--card {
  @media (min-width: $width-tablet) {
    position: absolute;
    top: 40%;
    left: 33px;
  }
}
