.week-product {
  @media (min-width: $width-desktop) {
    min-height: 650px;
  }
}

.week-product__title-wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    width: 670px;
    margin-top: 100px;
  }
}

.week-product__wrapper {
  @media (min-width: $width-tablet) {
    position: relative;
  }
}

.week-product__description-wrapper {
  @media (min-width: $width-tablet) {
    width: 44%;
  }

  @media (min-width: $width-desktop) {
    padding-left: 150px;
  }
}

.week-product__title {
  @include text(25px, 30px);
  font-weight: 700;
  color: $black;

  @media (min-width: $width-tablet) {
    @include text(43px, 50px);
  }

  @media (min-width: $width-desktop) {
    @include text(53px, 57px);
    order: 2;
  }
}

.week-product__subtitle {
  @include text(17px, 20px);
  font-weight: 700;
  color: $seafoam;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include text(17px, 17px);
    width: 80px;
    text-align: center;
  }
}

.week-product__text {
  @include text(15px, 24px);
  color: $text;

  @media (min-width: $width-tablet) {
    @include text(17px, 30px);
    margin-top: 0;
  }
}

.week-product__characteristics {
  @include text(15px, 20px);
  color: $text;
  border-collapse: collapse;
  width: 100%;
}

.week-product__characteristics-title {
  border-bottom: 1px solid $border-gray;
  padding: 10px 10px 10px 0;
}

.week-product__characteristics-value {
  border-bottom: 1px solid $border-gray;
  padding: 10px 10px 10px 0;
}

.week-product__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 333px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media (min-width: $width-desktop) {
    width: 525px;
    top: -170px;
    z-index: -1;
  }
}

.week-product__buy {
  @media (min-width: $width-tablet) {
    width: 44%;
  }

  @media (min-width: $width-desktop) {
    padding-left: 150px;
  }
}

.week-product__price {
  @include text(17px, 24px);
  color: $black;
  font-weight: 700;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include text(20px, 24px);
  }
}

.week-product__button {
  @media (max-width: $width-mobile-only) {
    margin: 0 auto;
  }
}
